site_name: mkdocs-advanced-seo
site_description: The comprehensive, deep, and robust SEO plugin for MkDocs.
site_url: https://mkdocs-advanced-seo.generated/
site_author: RainPPR

repo_name: entry/mkdocs-advanced-seo
repo_url: https://github.com/entry/mkdocs-advanced-seo

theme:
  name: material
  features:
    - navigation.instant
    - navigation.tracking
    - search.suggest
    - search.highlight
  palette:
    - scheme: default
      primary: indigo
      accent: indigo
    - scheme: slate
      primary: indigo
      accent: indigo
      media: "(prefers-color-scheme: dark)"
      toggle:
        icon: material/brightness-4
        name: Switch to light mode

plugins:
  - search
  - social # MkDocs Material Social Cards
  - advanced-seo:
      url_base: https://mkdocs-advanced-seo.generated
      use_canonical_url: true
      use_open_graph: true
      use_twitter_cards: true
      add_schema_org_json_ld: true
      # We rely on auto-detection for og_image from social cards, 
      # but provide a fallback if needed.
      # og_image: assets/fallback.png 

markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - attr_list
  - md_in_html
